$rainbow-red: #fa0f1b;
$rainbow-orange: #ff8b1f;
$rainbow-yellow: #f6ae2d;
$rainbow-green: #63a375;
$rainbow-blue: #00a6ed;
$rainbow-purple: #985f99;
$rainbow-indigo: #6446af;

$space-cadet: #25274d;
$independence: #464866;
$cadet-blue-crayola: #aaabb8;
$blue-green: #2e9cca;
$sapphire-blue: #29648a;
$cultured: #f4f4f6;

$dull-blue: #3f3fb5;
$dull-blue--medium: #3f3fb5b3;
$dull-blue--faded: #3f3fb54d; // 30% transparent
$dull-blue--white: #3f3fb526; // 15% transparent
$main-color: $dull-blue;
$main-medium: $dull-blue--medium;
$faded-main: $dull-blue--faded;
$background-main: $dull-blue--white;

// giving this color a more positive name that I'll use later I guess
$ocean-blue: #3F3FB5;
// dark, almost black
$oxford-blue: #10102D;
// mid-dark
$st-patricks-blue: #2A2A79;
// mid-light
$violet-blue-crayola: #8686D5;
// lighter mid-light
$max-blue-purple: #B3B3E5;
// light
$lavender-web: #E0E0F5;

$carrot-orange: #EC9A29;

$dark: $space-cadet;
$medium-dark: $independence;
$accent: $blue-green;
$accent-dark: $sapphire-blue;
$medium-light: $cadet-blue-crayola;
$light: $cultured;

// all the grays
$gray-10: #101010;
$gray-20: #202020;
$gray-30: #303030;
$gray-40: #404040;
$gray-50: #505050;
$gray-60: #606060;
$gray-70: #707070;
$gray-80: #808080;
$gray-90: #909090;
$gray-a0: #a0a0a0;
$gray-b0: #b0b0b0;
$gray-c0: #c0c0c0;
$gray-d0: #d0d0d0;
$gray-e0: #e0e0e0;
$gray-f0: #f0f0f0;

