$rainbow-red: #fa0f1b;
$rainbow-orange: #ff8b1f;
$rainbow-yellow: #f6ae2d;
$rainbow-green: #63a375;
$rainbow-blue: #00a6ed;
$rainbow-purple: #985f99;
$rainbow-indigo: #6446af;

$space-cadet: #25274d;
$independence: #464866;
$cadet-blue-crayola: #aaabb8;
$blue-green: #2e9cca;
$sapphire-blue: #29648a;
$cultured: #f4f4f6;

$dark: $space-cadet;
$medium-dark: $independence;
$accent: $blue-green;
$accent-dark: $sapphire-blue;
$medium-light: $cadet-blue-crayola;
$light: $cultured;